services:
  epi-citations-httpd:
    image: httpd:2.4-bookworm
    container_name: epi-citations-httpd
    build:
      context: .
      dockerfile: docker/apache/Dockerfile
    restart: always
    volumes:
      - ./docker/apache/vhost.conf:/usr/local/apache2/conf/extra/episciences-citations.conf
      - ./docker/apache/ssl:/usr/local/apache2/conf/ssl
      - .:/var/www/htdocs
      - ./data:/var/www/data
      - ./cache:/var/www/cache
      - ./logs:/var/www/logs
    ports:
      - "8081:80"
      - "443:443"
    depends_on:
      - epi-citations-php-fpm
      - epi-citations-db
    networks:
      - epi-citations-network
    command: >
      /bin/sh -c "chown -R www-data:www-data /var/www/data /var/www/cache /var/www/logs && httpd-foreground"


  epi-citations-php-fpm:
    container_name: epi-citations-php-fpm
    build:
      context: .
      dockerfile: docker/php-fpm/Dockerfile
    ports:
      - "9004:9004" # Xdebug
    restart: always
    volumes:
      - .:/var/www/htdocs
      - ./data:/var/www/data
      - ./cache:/var/www/cache
      - ./logs:/var/www/logs
      - ./docker/php-fpm/php-fpm.conf:/usr/local/etc/php-fpm.d/zz-custom.conf
      - ./logs/xdebug.log:/var/www/logs
    env_file:
      - .env.local
    environment:
      - PHP_FPM_LISTEN_PORT=9000
      - XDEBUG_MODE=debug
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9005
      - APP_ENV=dev
      - APP_DEBUG=1
    expose:
      - "9000"  # Expose internal port 9000
    extra_hosts:
      - "dev.episciences.org:host-gateway"
      - "manager-dev.episciences.org:host-gateway"
      - "oai-dev.episciences.org:host-gateway"
      - "data-dev.episciences.org:host-gateway"
      - "dev-new.episciences.org:host-gateway"
      - "api-dev.episciences.org:host-gateway"
    networks:
      - epi-citations-network



  epi-citations-db:
    image: "mysql:8.0"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    container_name: 'epi-citations-db'
    expose:
      - "3306"
    ports:
      - "33063:3306"
    volumes:
      - epi-citations-mysql-db:/var/lib/mysql
      - type: bind
        source: ./docker/mysql/citations.sql
        target: /docker-entrypoint-initdb.d/init.sql
    env_file:
      - docker/mysql/mysql.env
    networks:
      - epi-citations-network


  epi-citations-pma:
    container_name: 'epi-citations-pma'
    image: "phpmyadmin:latest"
    environment:
      - "PMA_PMADB=pma"
      - "PMA_CONTROLUSER=root"
      - "PMA_CONTROLPASS=root"
      - "PMA_QUERYHISTORYDB=true"
      - "PMA_USER=root"
      - "PMA_PASSWORD=root"
      - "PMA_ARBITRARY=1"
      - "PMA_HOSTS=epi-citations-db,db-auth"
      - "PMA_VERBOSES=citations,auth"
      - "UPLOAD_LIMIT=2G"
      - "MEMORY_LIMIT=1G"
    ports:
      - "8002:80"
    depends_on:
      - epi-citations-db
    links:
      - epi-citations-db
    networks:
      - epi-citations-network

networks:
  epi-citations-network:
    name: epi-citations-network
    driver: bridge

volumes:
  epi-citations-mysql-db:


