includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - var
        - vendor
        - tests
    ignoreErrors:
        -
            message: '#.+#'
            path: config/reference.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml