<div id="modal-container-bib" class="relative opacity-0 -z-50" aria-labelledby="modal-title" role="dialog"
     aria-modal="true" style="">
    <div id="greybg-bib" class="fixed inset-0 bg-gray-500 bg-opacity-25 opacity-0 -z-50"></div>
    <div class="fixed inset-0 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div id="box-container-bib" class="-z-50 opacity-0 relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl sm:my-8 sm:w-full sm:max-w-2xl">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    {{ form_widget(bibtexFile,{'id': 'bibtex-file','attr': {'class':"block w-full text-sm text-grey-500
            file:mr-5 file:py-3 file:px-10
            file:rounded file:border-0
            file:text-md file:font-semibold  file:text-white
            file:bg-gradient-to-r file:from-[#20208c] file:to-[#57bec3]
            hover:file:cursor-pointer hover:file:opacity-80"}}) }}
                </div>
                <div class="px-4 pb-4 pt-5 sm:p-2 sm:pb-4 text-center"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;<i class="text-gray-600">{{ "The previous BibTeX references will be overwritten."|trans }}</i></div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    {{ form_widget(submitImportBib,{'id': 'confirm-adding-bib','attr': {'class':"inline-flex w-full justify-center bg-transparent hover:bg-emerald-500 text-emerald-400 font-semibold hover:text-white py-2 px-4 border border-emerald-500 hover:border-transparent rounded sm:ml-3 sm:w-auto"}}) }}
                    {{ form_widget(btnCancelImportBib,{'id': 'cancel-adding-bib','attr': {'class':"inline-flex w-full justify-center bg-transparent hover:bg-rose-500 text-rose-400 font-semibold hover:text-white py-2 px-4 border border-rose-500 hover:border-transparent rounded sm:ml-3 sm:w-auto"}}) }}
                </div>
            </div>
        </div>
    </div>
</div>