{% extends 'base.html.twig' %}
{% block title %}Episciences - Citations{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('extract') }}
{% endblock %}
{% block body %}
    <div class="flex items-center justify-center h-screen">
        <div class="font-extrabold">{{ "We were unable to give you access to the page you requested. Please contact Episciences support."|trans }}</div>
    </div>
{% endblock %}